html, body{
    margin: 0;
    padding: 0;
    font-family: 'Monteserrat', sans-serif;
}

body{
    background: #fff no-repeat fixed;
    background-size: 100%;
}

.header {
    padding: 30px 0;
    color: #fff;
    background-color: #292A2B;
}


.header h1{
    color: inherit;
    margin:0 0 30px;
    font-size: 20px;
    text-transform: uppercase;
}

.header ul, .footer ul{
    padding: 0 20px;
    margin: 0;
    list-style: none;
}

.header li{
    display: inline;
    width: 100px;
    text-align: center;
    margin: 6px;
}

.header li a{
    color: inherit;
}

.header li a:hover{
    color: #292A2B;
}

.header li.active a{
    background-color: #000099;
}

/* Jumbotron */
.jumbotron {
    background-color: #F3F3F3;
    

}

.jumbotron h4{
    font-size: 30px;
    margin-bottom: 120px;
    color: #000;
}




/* Main */
.main{
    margin-bottom: 30px;
    text-align: center;
    
}

.thumbnail{
    padding: 0;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.1);
    border-radius: 0px;
    border: 0px;


}

.thumbnail img{
    height: 250px;
    width: 100%;
    display: block;


}

.tech{
    
    text-align: center;
    color: #fff;
    background-color: #1c1c1c;
    margin-top: -20px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-bottom: 6px;
}



/* Supporting */

.supporting {
    background-color: #F3F3F3;
    text-align: center;
    
}

.supporting h3{
    color: #292A2B;
    padding: 10px 0px 5px 20px;
}

.supporting li{
    color: #292A2B;
    list-style: none;
    display: inline-block;
    margin-right: 15px;
    font-weight: bold; 

}

/* Footer */

.footer{
    background-color: #292A2B;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-family: sans-serif;; 
    padding: 27px;
    margin-top: 60px;
}

.footer .footer-name{
    color: #9B9C9E;
    font-size: 14px;
    margin: 0;
}

.footer .footer-links{
    list-style: none;
    font-weight: bold;
    color: #ffffff;
    padding: 15px 0 10px;
    margin: 0;
}

.footer .footer-links a{
    display: inline-block;
    text-decoration: none;
    color: inherit;
}



