// Colors

$linksColor: #fff;
$hoverLinks: #aeaeae;
$headerText: #fff;
$headerSection: #22313F;
$headerBack: #22313F;
$copy: #ccc;
$fontColor: #848484;
$iconsColor: #22313F;
$about: #fafafa; 
$projectLinks: #4c6d8c;
$hoverProjectLinks: #1c2834;

// Font sizes
$fontSize: 20px;
$mainNavFont: 70%;

$font: 'Raleway', 'Arial', sans-serif;